{% extends 'base.html' %}

{% block title %}Test{% endblock %}

{% block content %}
    <h1>Total order {{total_order}}</h1>
    <h2>{{ pending_orders }}</h2>
    {% for order in orders %}
        {{ pending_orders }}
    {% endfor %}
    <p>{% for specialist in specialists %}
        <p>{{ specialist.name }} {{ specialist.phone }} </p>
    {% endfor %}</p>
    <p>
        {% for order in orders %}
            {{ order.description }}{{ order.status }}
        {% endfor %}
    </p>
{% endblock %}